{{! Default Author Social Icons }}

<ul class="icons">
    <li><a href="http://facebook.com/boostinsider" class="icon fa-facebook"></a></li>
    <li><a href="http://twitter.com/boostinsider" class="icon fa-twitter"></a></li>
    <li><a href="https://plus.google.com/u/3/113466045880900651738/posts" class="icon fa-google-plus"></a></li>
    <li><a href="http://boostinsiderofficial.tumblr.com/" class="icon fa-tumblr"></a></li>
    <li><a href="https://instagram.com/boostinsider_official/" class="icon fa-instagram"></a></li>
</ul>
